@import 'variables';

body {
  background-color: $gray-charcoal;
  margin: 0;
}

.button {
  background-color: $wild-watermelon;
  font-family: Hack, monospace;
  cursor: pointer;
  border: none;
  color: white;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
  text-transform: uppercase;

  &.transparent-btn {
    color: $wild-watermelon;
    background-color: $gray-transparent;
  }
}

